<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Login - Software Modeling</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />

<link href="/css/font-awesome.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    
<link href="/css/style.css" rel="stylesheet" type="text/css">
<link href="/css/pages/signin.css" rel="stylesheet" type="text/css">

<script>
function formSubmit()
{
	document.myForm.action = "/users/login";
	document.myForm.method = "POST";
	document.myForm.submit();
}
</script>
<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/signin.js"></script>

</head>

<body>
	
	<div class="navbar navbar-fixed-top">
	
	<div class="navbar-inner">
		
		<div class="container">
			
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			
			<a class="brand" href="/">
				Software Modeling		
			</a>		
			
			<div class="nav-collapse">
				<ul class="nav pull-right">
					
					<li class="">						
						<a href="/signup" class="">
							Don't have an account?
						</a>
						
					</li>
					
					<li class="">						
						<a href="/" class="">
							<i class="icon-chevron-left"></i>
							Back to Homepage
						</a>
						
					</li>
				</ul>
				
			</div>	
			</div>
		</div>
	</div> 


<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        <li class="active"><a href="index.html"><span>Dashboard</span> </a> </li>
        <li><a href="/stats"><span>Reports</span> </a> </li>
        <li><a href="guidely.html"><span>About Us</span> </a></li>
        <li><a href="charts.html"><span>Logout</span> </a> </li>       
      </ul>
    </div>
  </div> 
</div>

<form name="myForm" method="">
<%if(error!==""){%><%=error%><%}%>  

<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
      
 <div class="span12">
 	<div id="loose" class="widget widget-table action-table">
            <div class="widget-header"> 
            <i class="icon-th-list"></i>
              <h3>Project List</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
         		 	
         		 <div class="table-responsive">
				<table id='myTable' class='display table' width='100%'>
				
				</table>
			</div>         		 	
            </div>
            <!-- /widget-content --> 
    </div>
 </div>
 
 </div>
 </div>
 </div>
 </div>
 
</body>

</html>
