<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Login - Software Modeling</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />

<link href="/css/font-awesome.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    
<link href="/css/style.css" rel="stylesheet" type="text/css">
<link href="/css/pages/signin.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/datepicker.css">  

<script>
           function OpenModal() {
               $('#newProjectModal').modal('show'); 
            }







        </script>



</head>

<body>
	
	<div class="navbar navbar-fixed-top">
	

	<div class="navbar-inner">
		
		<div class="container">
			
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			
			<a class="brand" href="/">
				Software Modeling		
			</a>		
			
			<div class="nav-collapse">

<ul class="nav navbar-nav">
        <li><a href="/home">Home </a></li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Project <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" onclick="OpenModal()" >Create Project</a></li>
            <li><a href="#">View All Projects</a></li>
           
          </ul>
        </li>


         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Profile <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Edit Profile</a></li>
           
           
          </ul>
        </li>
      </ul>

				<ul class="nav pull-right">
					
					<li class="">						
						<a href="/login" class="">
							Sign out
						</a>
						
					</li>
					
					
				</ul>
				
			</div><!--/.nav-collapse -->	
	
		</div> <!-- /container -->
		
	</div> <!-- /navbar-inner -->
	
</div> <!-- /navbar -->

<div class="container">
	<br>
	<h3>Recent Projects</h3>
</div>

<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/signin.js"></script>


<!--New Project Pop up window -->
<div class="modal fade" id="newProjectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create New Project</h4>
      </div>
      <div class="modal-body">
      	
     <form class="form-horizontal">
  <div class="form-group">
    <label >Project Name</label>
    <input type="text" class="form-control" id="projectName" placeholder="Jane Doe">
  </div>
 
  <div class="form-group">
    <label >Description</label>
    <input type="text" class="form-control" id="projectDesc" placeholder="jane.doe@example.com">
  </div>
  
  <div class="form-group">
    <label >Type</label>
   <select class="form-control" id="projectType">
   <option value="Waterfall">Waterfall</option>
  <option value="Scrum">Scrum</option>
  <option value="Kanban">Kanban</option>
 



   </select>
  </div>
  
  <div class="form-group">
    <label >Start Date</label>
   <input  type="text" placeholder="click to show datepicker"  id="startDate">
  </div>
  
  <div class="form-group">
    <label >Projected End Date</label>
  <input  type="text" placeholder="click to show datepicker"  id="endDate">
  </div>


 
  
</form>


      </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveChanges">Save changes</button>
      </div>
      
    </div>
  </div>
</div>


<div class="navbar navbar-fixed-bottom">
<div class="container">
	<h5>© CMPE 281 Team 8 (Spring - 2015)</h5>
</div>

</div>




  <script src="js/bootstrap-datepicker.js"></script>
        <script type="text/javascript">
            // When the document is ready
            $(document).ready(function () {
                
                $('#startDate').datepicker({
                    format: "mm/dd/yyyy"
                });  

                 $('#endDate').datepicker({
                    format: "mm/dd/yyyy"
                });  

				$('#saveChanges').click(function() {
			
					var projectName = $('#projectName').val(); 	   
					var projectDesc = $('#projectDesc').val();
					var startDate = $('#startDate').val();
					var endDate = $('#endDate').val();
					var projectType = $('#projectType').val();



						if(projectName != null && projectType != null && endDate != null)
						{
							$.ajax({type:'POST',
								data: {projectName : projectName,projectDesc: projectDesc, startDate:startDate,
									   endDate:endDate, projectType:projectType},
									    url:'/createProject',
									     success:function(data,textStatus){										 												
														window.location.href = "/home"									 								
													},
									      error:function(XMLHttpRequest,textStatus,errorThrown){
									                        console.log('In error');
									                   }
									});
						}
			


			
            
            		});
				});

        </script>


</body>

</html>
