<html>
<head>
<script>
function editUser()
{
	document.myForm.action = "/users/edit/<%=data[0].email%>";
	document.myForm.method="post";
	document.myForm.submit();
}
function deleteUser()
{
	document.myForm.action = "/users/delete/<%=data[0].email%>";
	document.myForm.method="post";
	document.myForm.submit();
}
</script>
</head>
<body>
<form name="myForm" method=""></form>
Welcome <%=data[0].firstname%> <%=data[0].lastname%>
<Button onclick="editUser()">Edit User</Button>
<Button onclick="deleteUser()">Delete User</Button>
</body>
</html>